@import './assets/css/dashlite.css';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-divider {
  margin-bottom: 2px !important;
}

.ant-tabs-nav-wrap {
  justify-content: center !important;
}

.ant-list-item-meta-title,
.ant-list-item-meta-description {
  color: white;
}
