.input-dark {
  background-color: #101924; /* Fondo oscuro para el input */
  color: white; /* Letras blancas para el input */
  border-color: #364A63; /* Color del borde */
  width: 90%; /* Asegurar que el input ocupe todo el ancho del contenedor */
  padding: 6px; /* Reducir padding al input */
  margin-top: 1px; /* Reducir margen inferior para separación */
  margin-bottom: 1px; /* Reducir margen inferior para separación */
}

.input-dark::placeholder {
  color: #888 !important; /* Color del placeholder */
}

.input-dark:focus, .input-dark:hover {
  border-color: #364A63 !important; /* Color del borde al enfocar o pasar el mouse */
  box-shadow: 0 0 0 2px rgba(54, 74, 99, 0.2) !important; /* Sombra del borde */
}

.form-item-label {
  color: white; /* Color del label */
  margin-top: 5px; /* Reducir margen inferior para separación */
  margin-bottom: 1px; /* Reducir margen inferior para separación */
  text-align: right; /* Alinear el texto a la derecha */
  padding-left: 15px; /* Reducir padding a la derecha */
}

.ant-form-item {
  margin-bottom: 10px; /* Reducir margen inferior del contenedor del Form.Item */
}

.ant-select-selector {
  background-color: #101924 !important; /* Fondo oscuro para el select */
  color: white !important; /* Letras blancas para el select */
  border-color: #364A63 !important; /* Color del borde */
}

.ant-select-selection-item {
  color: white !important; /* Letras blancas para el item seleccionado */
}

.ant-select-selection-placeholder {
  color: #364A63 !important; /* Color del placeholder del select */
}

.select-narrow {
  width: 95%; /* Ajustar el ancho del select */
  margin: 0 auto; /* Centrar el select horizontalmente */
}

/* Estilos para el menú desplegable del select */
.ant-select-dropdown {
  background-color: #101924; /* Fondo oscuro para el menú desplegable */
  border-color: #364A63 !important; /* Borde gris oscuro */
}

.ant-select-item-option {
  color: white !important; /* Letras blancas para las opciones */
}

.ant-select-item-option-selected {
  background-color: #364A63 !important; /* Fondo más oscuro para la opción seleccionada */
}